<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772273857731-6ajs45phnahei1u1p8povoc060ksbs86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772273857731-6ajs45phnahei1u1p8povoc060ksbs86</string>
	<key>API_KEY</key>
	<string>AIzaSyDUCeP3hLzdWyrdokOJhzRRCiXUZ1XNvIk</string>
	<key>GCM_SENDER_ID</key>
	<string>772273857731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cristian.pushNotifications</string>
	<key>PROJECT_ID</key>
	<string>notificaciones-nullsafety</string>
	<key>STORAGE_BUCKET</key>
	<string>notificaciones-nullsafety.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772273857731:ios:2071a4dcacb3e173e3ae76</string>
</dict>
</plist>